.rsc-container {
  margin: auto
}

.container-fluid {
  //background-color: #3E7213;
  p.path {
    background-color: #609732;
    padding-left: 1rem;
    color: whitesmoke;
  }
  .row {
    background-color: #BAE397;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.75rem #3E7213);
  }
}